Bingham_Sridhar_L4/TestWebService/Web References/LabPartnerWS/LabPartners.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LookupByFirstName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LookupByFirstNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LookupByFirstNameResult" type="tns:LabSearchResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LabSearchResults">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LabMembers" type="tns:ArrayOfLabMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLabMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LabMember" nillable="true" type="tns:LabMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LabMember">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LabMemberId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LookupByFirstNameSoapIn">
    <wsdl:part name="parameters" element="tns:LookupByFirstName" />
  </wsdl:message>
  <wsdl:message name="LookupByFirstNameSoapOut">
    <wsdl:part name="parameters" element="tns:LookupByFirstNameResponse" />
  </wsdl:message>
  <wsdl:portType name="LabPartnersSoap">
    <wsdl:operation name="LookupByFirstName">
      <wsdl:input message="tns:LookupByFirstNameSoapIn" />
      <wsdl:output message="tns:LookupByFirstNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LabPartnersSoap" type="tns:LabPartnersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LookupByFirstName">
      <soap:operation soapAction="http://tempuri.org/LookupByFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LabPartnersSoap12" type="tns:LabPartnersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LookupByFirstName">
      <soap12:operation soapAction="http://tempuri.org/LookupByFirstName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LabPartners">
    <wsdl:port name="LabPartnersSoap" binding="tns:LabPartnersSoap">
      <soap:address location="http://vhost1693.site1.compute.ihost.com/lab4/LabPartners.asmx" />
    </wsdl:port>
    <wsdl:port name="LabPartnersSoap12" binding="tns:LabPartnersSoap12">
      <soap12:address location="http://vhost1693.site1.compute.ihost.com/lab4/LabPartners.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>